:root[data-Colors="Dark"] {
  --Colors-Danger-50: rgb(254, 242, 242);
  --Colors-Danger-100: rgb(254, 226, 226);
  --Colors-Danger-200: rgb(254, 202, 202);
  --Colors-Danger-300: rgb(252, 165, 165);
  --Colors-Danger-400: rgb(248, 113, 113);
  --Colors-Danger-500: rgb(239, 68, 68);
  --Colors-Danger-600: rgb(220, 38, 38);
  --Colors-Danger-700: rgb(185, 28, 28);
  --Colors-Danger-800: rgb(153, 27, 27);
  --Colors-Danger-900: rgb(127, 29, 29);
  --Colors-Base-Black: rgb(0, 0, 0);
  --Colors-Base-White: rgb(255, 255, 255);
  --Colors-Neutral-50: rgb(248, 250, 252);
  --Colors-Neutral-100: rgb(241, 245, 249);
  --Colors-Neutral-200: rgb(226, 232, 240);
  --Colors-Neutral-300: rgb(203, 213, 225);
  --Colors-Neutral-400: rgb(148, 163, 184);
  --Colors-Neutral-500: rgb(100, 116, 139);
  --Colors-Neutral-600: rgb(71, 85, 105);
  --Colors-Neutral-700: rgb(51, 65, 85);
  --Colors-Neutral-800: rgb(30, 41, 59);
  --Colors-Neutral-900: rgb(15, 23, 42);
  --Colors-Primary-50: rgb(245, 243, 255);
  --Colors-Primary-100: rgb(237, 233, 254);
  --Colors-Primary-200: rgb(221, 214, 254);
  --Colors-Primary-300: rgb(196, 181, 253);
  --Colors-Primary-400: rgb(167, 139, 250);
  --Colors-Primary-500: rgb(139, 92, 246);
  --Colors-Primary-600: rgb(124, 58, 237);
  --Colors-Primary-700: rgb(109, 40, 217);
  --Colors-Primary-800: rgb(91, 33, 182);
  --Colors-Primary-900: rgb(76, 29, 149);
  --Colors-Success-50: rgb(240, 253, 244);
  --Colors-Success-100: rgb(220, 252, 231);
  --Colors-Success-200: rgb(187, 247, 208);
  --Colors-Success-300: rgb(134, 239, 172);
  --Colors-Success-400: rgb(74, 222, 128);
  --Colors-Success-500: rgb(34, 197, 94);
  --Colors-Success-600: rgb(22, 163, 74);
  --Colors-Success-700: rgb(21, 128, 61);
  --Colors-Success-800: rgb(22, 101, 52);
  --Colors-Success-900: rgb(20, 83, 45);
  --Colors-Warning-50: rgb(255, 251, 235);
  --Colors-Warning-100: rgb(254, 243, 199);
  --Colors-Warning-200: rgb(253, 230, 138);
  --Colors-Warning-300: rgb(252, 211, 77);
  --Colors-Warning-400: rgb(251, 191, 36);
  --Colors-Warning-500: rgb(245, 158, 11);
  --Colors-Warning-600: rgb(217, 119, 6);
  --Colors-Warning-700: rgb(180, 83, 9);
  --Colors-Warning-800: rgb(146, 64, 14);
  --Colors-Warning-900: rgb(120, 53, 15);
  --Colors-Informative-50: rgb(239, 246, 255);
  --Colors-Informative-100: rgb(219, 234, 254);
  --Colors-Informative-200: rgb(191, 219, 254);
  --Colors-Informative-300: rgb(147, 197, 253);
  --Colors-Informative-400: rgb(96, 165, 250);
  --Colors-Informative-500: rgb(59, 130, 246);
  --Colors-Informative-600: rgb(37, 99, 235);
  --Colors-Informative-700: rgb(29, 78, 216);
  --Colors-Informative-800: rgb(30, 64, 175);
  --Colors-Informative-900: rgb(30, 58, 138);
}
:root[data-Colors="Light"] {
  --Colors-Danger-50: rgb(254, 242, 242);
  --Colors-Danger-100: rgb(254, 226, 226);
  --Colors-Danger-200: rgb(254, 202, 202);
  --Colors-Danger-300: rgb(252, 165, 165);
  --Colors-Danger-400: rgb(248, 113, 113);
  --Colors-Danger-500: rgb(239, 68, 68);
  --Colors-Danger-600: rgb(220, 38, 38);
  --Colors-Danger-700: rgb(185, 28, 28);
  --Colors-Danger-800: rgb(153, 27, 27);
  --Colors-Danger-900: rgb(127, 29, 29);
  --Colors-Base-Black: rgb(0, 0, 0);
  --Colors-Base-White: rgb(255, 255, 255);
  --Colors-Neutral-50: rgb(248, 250, 252);
  --Colors-Neutral-100: rgb(241, 245, 249);
  --Colors-Neutral-200: rgb(226, 232, 240);
  --Colors-Neutral-300: rgb(203, 213, 225);
  --Colors-Neutral-400: rgb(148, 163, 184);
  --Colors-Neutral-500: rgb(100, 116, 139);
  --Colors-Neutral-600: rgb(71, 85, 105);
  --Colors-Neutral-700: rgb(51, 65, 85);
  --Colors-Neutral-800: rgb(30, 41, 59);
  --Colors-Neutral-900: rgb(15, 23, 42);
  --Colors-Primary-50: rgb(245, 243, 255);
  --Colors-Primary-100: rgb(237, 233, 254);
  --Colors-Primary-200: rgb(221, 214, 254);
  --Colors-Primary-300: rgb(196, 181, 253);
  --Colors-Primary-400: rgb(167, 139, 250);
  --Colors-Primary-500: rgb(139, 92, 246);
  --Colors-Primary-600: rgb(124, 58, 237);
  --Colors-Primary-700: rgb(109, 40, 217);
  --Colors-Primary-800: rgb(91, 33, 182);
  --Colors-Primary-900: rgb(76, 29, 149);
  --Colors-Success-50: rgb(240, 253, 244);
  --Colors-Success-100: rgb(220, 252, 231);
  --Colors-Success-200: rgb(187, 247, 208);
  --Colors-Success-300: rgb(134, 239, 172);
  --Colors-Success-400: rgb(74, 222, 128);
  --Colors-Success-500: rgb(34, 197, 94);
  --Colors-Success-600: rgb(22, 163, 74);
  --Colors-Success-700: rgb(21, 128, 61);
  --Colors-Success-800: rgb(22, 101, 52);
  --Colors-Success-900: rgb(20, 83, 45);
  --Colors-Warning-50: rgb(255, 251, 235);
  --Colors-Warning-100: rgb(254, 243, 199);
  --Colors-Warning-200: rgb(253, 230, 138);
  --Colors-Warning-300: rgb(252, 211, 77);
  --Colors-Warning-400: rgb(251, 191, 36);
  --Colors-Warning-500: rgb(245, 158, 11);
  --Colors-Warning-600: rgb(217, 119, 6);
  --Colors-Warning-700: rgb(180, 83, 9);
  --Colors-Warning-800: rgb(146, 64, 14);
  --Colors-Warning-900: rgb(120, 53, 15);
  --Colors-Informative-50: rgb(239, 246, 255);
  --Colors-Informative-100: rgb(219, 234, 254);
  --Colors-Informative-200: rgb(191, 219, 254);
  --Colors-Informative-300: rgb(147, 197, 253);
  --Colors-Informative-400: rgb(96, 165, 250);
  --Colors-Informative-500: rgb(59, 130, 246);
  --Colors-Informative-600: rgb(37, 99, 235);
  --Colors-Informative-700: rgb(29, 78, 216);
  --Colors-Informative-800: rgb(30, 64, 175);
  --Colors-Informative-900: rgb(30, 58, 138);
}
